<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/brand.css">
    <link rel="stylesheet" href="../css/item.css">
    <link rel="stylesheet" href="../css/tweet.css">
</head>
<body>
    <div class="layout">
        <div class="layout__left">
            <div class="left-sidebar">
                <div class="left-sidebar__top">
                    <div class="brand-container">
                        <a href="https://twitter.com/">
                            <img src="../imgs/twitter.svg" alt="brand" class="brand">
                        </a>
                    </div>
                    <a href="https://twitter.com/home" class="item-link item-link--active">
                        <div class="item">
                            <img src="../imgs/home.svg" alt="home" class="item-img">
                            <div class="item__spanbox">
                                <span>홈</span>
                            </div>
                        </div>
                    </a>
                    <a href="https://twitter.com/explore" class="item-link">
                        <div class="item">
                            <img src="../imgs/explore.svg" alt="explore" class="item-img">
                            <div class="item__spanbox">
                                <span>탐색하기</span>
                            </div>
                        </div>
                    </a>
                    <a href="https://twitter.com/profile" class="item-link">
                        <div class="item">
                            <img src="../imgs/profile.svg" alt="profile" class="item-img">
                            <div class="item__spanbox">
                                <span>프로필</span>
                            </div>
                        </div>
                    </a>
                    <a href="/add-tweet/:Id" class="tweet-link">
                        <div class="tweet-btn">
                            <span>트윗하기</span>
                        </div>
                    </a>
                </div>
                <div class="left-sidebar__bottom">
                    dsads
                </div>
            </div>
        </div>
        <div class="layout__main">
            dssad
        </div>
        <div class="layout__right">dsasd</div>
    </div>
</body>
</html>