
.sidebar-brand {
    padding: 0 41px 0 12px;
    display: flex;
    justify-self: center;
    align-items: center;
    border-radius: 30px;
    width: 50px;
    height: 50px;
}

.sidebar-brand:hover {
    background-color: rgb(29, 155, 240, 0.15);
    cursor: pointer;
}

.brand {
    filter: invert(48%) sepia(38%) saturate(3397%) hue-rotate(180deg) brightness(100%) contrast(89%);
    height: 28px;
}


