* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.layout {
    display: grid;
    grid-template-columns: 270px auto 350px;
    grid-template-rows: 100vh;
}

.left-sidebar {
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 8px;
}


